$round-radius: 5pt;
$bg-color: var(--bg1);
$dim-color: var(--text-dim);
$color: var(--text-color);

.command-palette {
  /* Place the container in the middle and floating */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  .container {
    background-color: #33cfff;
    padding: 3pt;
    width: 75pt;
    border-radius: 5pt;
  }
}
