.tool-timer-top {
  background-color: var(--bg0);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;

  .left {
    margin: auto;
    margin-left: 5pt;
  }

  .right {
    margin: auto;
    margin-right: 10pt;
  }

  .back-button {
    width: 18pt;
    height: 18pt;
  }

  .bookmark-button {
    width: 17pt;
    height: 17pt;
  }

  button {
    cursor: pointer;
    padding: 0;
    border-radius: 5pt;
    border: none;
    background-color: var(--bg);
    color: var(--text-color);

    svg {
      margin: 2pt;
    }
  }

  .left .back-button:active {
    transform: scale(0.9, 0.9);
  }

  .timer {
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    .clock-icon {
      width: 12pt;
      height: 12pt;
      margin-right: 8pt;
    }

    .time-display {
      cursor: default;
    }
  }
}
