.results {
  display: flex;
  flex-direction: column;

  // padding-top: 3rem;

  .score-display {
    text-align: center;
    padding: 1em 0;

    .percent {
      font-size: 16pt;
      margin: 10pt 0;
    }

    p {
      // margin: 0;
      font-size: 14pt;
    }
  }

  .result-review {
    padding-top: 3.4rem;
    padding-bottom: 2rem;

    .top {
      display: grid;
      height: 100%;
      background-color: var(--bg);

      span {
        font-size: 1.35rem;
        margin: auto;
      }
    }
  }
}
