.auto-theme {
  --black: #2b2d3a;
  --gray: #8a8ea8;
  --red: #fb617e;
  --yellow: #edc763;
  --green: #9ed06c;
  --blue: #6dcae8;
  --purple: #bb97ee;
  --orange: #f89860;

  --bg-0: var(--black);
  --bg-1: hsl(232, 15%, 25%);
  --bg-2: hsl(232, 15%, 45%);

  --text-0: hsl(231, 15%, 95%);
  --text-1: hsl(231, 15%, 55%);
  --text-2: hsl(231, 15%, 35%);
}

:root {
  font-size: 11pt;
}

html,
body,
#root {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: var(--bg-0);
  color: var(--text-0);

  height: 100%;
}

@media (prefers-color-scheme: light) {
  .auto-theme {
    --black: #2b2d3a;
    --gray: #8a8ea8;
    --red: #fb617e;
    --yellow: #edc763;
    --green: #9ed06c;
    --blue: #6dcae8;
    --purple: #bb97ee;
    --orange: #f89860;

    --bg-0: hsl(232, 15%, 92%);
    --bg-1: hsl(232, 15%, 100%);
    --bg-2: hsl(232, 15%, 45%);

    --text-0: hsl(231, 15%, 25%);
    --text-1: hsl(231, 15%, 45%);
    --text-2: hsl(231, 15%, 55%);
  }
}
