.sonokai-andromeda-theme {
  --black: #181a1c;
  --bg0: #2b2d3a;
  --bg1: #333648;
  --bg2: #363a4e;
  --bg3: #393e53;
  --bg4: #3f445b;
  --bg_red: #ff6188;
  --diff_red: #55393d;
  --bg_green: #a9dc76;
  --diff_green: #394634;
  --bg_blue: #77d5f0;
  --diff_blue: #354157;
  --diff_yellow: #4e432f;
  --fg: #e1e3e4;
  --red: #fb617e;
  --orange: #f89860;
  --yellow: #edc763;
  --green: #9ed06c;
  --blue: #6dcae8;
  --purple: #bb97ee;
  --grey: #7e8294;
  --grey_dim: #4c516d;

  --text-color: var(--fg);
  --text-dim: var(--grey_dim);
}

.sonokai-default-theme {
  --black: #181819;
  --bg0: #2c2e34;
  --bg1: #33353f;
  --bg2: #363944;
  --bg3: #3b3e48;
  --bg4: #414550;
  --bg_red: #ff6077;
  --diff_red: #55393d;
  --bg_green: #a7df78;
  --diff_green: #394634;
  --bg_blue: #85d3f2;
  --diff_blue: #354157;
  --diff_yellow: #4e432f;
  --fg: #e2e2e3;
  --red: #fc5d7c;
  --orange: #f39660;
  --yellow: #e7c664;
  --green: #9ed072;
  --blue: #76cce0;
  --purple: #b39df3;
  --grey: #7f8490;
  --grey_dim: #4f5462;

  --text-color: var(--fg);
  --text-dim: var(--grey_dim);
}

.sonokai-shusia-theme {
  --black: #1a181a;
  --bg0: #2d2a2e;
  --bg1: #37343a;
  --bg2: #3b383e;
  --bg3: #423f46;
  --bg4: #49464e;
  --bg_red: #ff6188;
  --diff_red: #55393d;
  --bg_green: #a9dc76;
  --diff_green: #394634;
  --bg_blue: #78dce8;
  --diff_blue: #354157;
  --diff_yellow: #4e432f;
  --fg: #e3e1e4;
  --red: #f85e84;
  --orange: #ef9062;
  --yellow: #e5c463;
  --green: #9ecd6f;
  --blue: #7accd7;
  --purple: #ab9df2;
  --grey: #848089;
  --grey_dim: #595660;

  --text-color: var(--fg);
  --text-dim: var(--grey_dim);
}

.sonokai-atlantis-theme {
  --black: #181a1c;
  --bg0: #2a2f38;
  --bg1: #333846;
  --bg2: #373c4b;
  --bg3: #3d4455;
  --bg4: #424b5b;
  --bg_red: #ff6d7e;
  --diff_red: #55393d;
  --bg_green: #a5e179;
  --diff_green: #394634;
  --bg_blue: #7ad5f1;
  --diff_blue: #354157;
  --diff_yellow: #4e432f;
  --fg: #e1e3e4;
  --red: #ff6578;
  --orange: #f69c5e;
  --yellow: #eacb64;
  --green: #9dd274;
  --blue: #72cce8;
  --purple: #ba9cf3;
  --grey: #828a9a;
  --grey_dim: #4f5a6d;

  --text-color: var(--fg);
  --text-dim: var(--grey_dim);
}

.sonokai-maia-theme {
  --black: #1c1e1f;
  --bg0: #273136;
  --bg1: #313b42;
  --bg2: #353f46;
  --bg3: #3a444b;
  --bg4: #414b53;
  --bg_red: #ff6d7e;
  --diff_red: #55393d;
  --bg_green: #a2e57b;
  --diff_green: #394634;
  --bg_blue: #7cd5f1;
  --diff_blue: #354157;
  --diff_yellow: #4e432f;
  --fg: #e1e2e3;
  --red: #f76c7c;
  --orange: #f3a96a;
  --yellow: #e3d367;
  --green: #9cd57b;
  --blue: #78cee9;
  --purple: #baa0f8;
  --grey: #82878b;
  --grey_dim: #4f5b65;

  --text-color: var(--fg);
  --text-dim: var(--grey_dim);
}

.sonokai-espresso-theme {
  --black: #1f1e1c;
  --bg0: #312c2b;
  --bg1: #393230;
  --bg2: #413937;
  --bg3: #49403c;
  --bg4: #4e433f;
  --bg_red: #fd6883;
  --diff_red: #55393d;
  --bg_green: #adda78;
  --diff_green: #394634;
  --bg_blue: #85dad2;
  --diff_blue: #354157;
  --diff_yellow: #4e432f;
  --fg: #e4e3e1;
  --red: #f86882;
  --orange: #f08d71;
  --yellow: #f0c66f;
  --green: #a6cd77;
  --blue: #81d0c9;
  --purple: #9fa0e1;
  --grey: #90817b;
  --grey_dim: #60524d;

  --text-color: var(--fg);
  --text-dim: var(--grey_dim);
}
