header {
  height: var(--header-height);
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  width: 100%;

  a {
    text-decoration: none;
    color: var(--text-color);
    margin: auto 1.2rem;
    font-size: 16pt;

    font-weight: 300;
  }

}
