:root {
  --grey-0: #101010;
  --grey-1: #212121;
  --grey-2: #353535;
  --grey-3: #4f4f4f;
  --grey-4: #696969;
  --grey-5: #828282;
  --grey-6: #9c9c9c;
  --grey-7: #b5b5b5;
  --grey-8: #cfcfcf;
  --grey-9: #e8e8e8;

  --white: #ffffff;

  font-size: 11pt;

  --header-height: 3.5rem;
}

.auto-theme {
  --bg: var(--grey-0);
  --bg-1: var(--grey-1);
  --bg-2: var(--grey-2);
  --text-color: var(--white);
}

html,
body,
#root,
.app {
  font-family: 'Roboto', sans-serif;
  margin: 0;

  background-color: var(--bg);
  color: var(--text-color);
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media (prefers-color-scheme: light) {
  .auto-theme {
    --bg: var(--white);
    --bg-1: var(--grey-9);
    --bg-2: var(--grey-8);
    --text-color: var(--grey-0);
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select:   none; /* Safari */
  -khtml-user-select:    none; /* Konqueror HTML */
  -moz-user-select:      none; /* Firefox */
  -ms-user-select:       none; /* Internet Explorer/Edge */
  user-select:           none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
