.tools-floating {
  position: fixed;
  bottom: 0;
  width: 100%;

  height: 5rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  .tools {
    margin: 0 auto;
    display: flex;
    height: 100%;
    height: 2.6rem;

    border-radius: 5pt;
    background-color: var(--bg-1);
    overflow: hidden;

    button {
      display: block;
      cursor: pointer;
      padding: 0;
      margin: 0;
      border: none;
      background-color: inherit;
      color: var(--text-color);
      transition: background-color 125ms ease-in;

      text-decoration: none;

      .button-display {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .icon {
          width: 10pt;
          height: 10pt;
          margin: auto 6pt;
        }

        .text {
          margin: auto;
          font-size: 10pt;
          font-weight: 300;
        }
      }

      padding-right: 6pt;
    }

    button:hover {
      background-color: var(--bg-2);
    }

    button:active {
      background-color: inherit;
      .button-display {
        transform: scale(0.95);
      }
    }
  }
}