.question {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;

  .pad-top {
    padding-top: 3.4rem;
  }

  padding-bottom: 5.5rem;
}

.question-image {
  max-height: 128pt;
  text-align: center;
  img,
  svg {
    max-height: inherit;
  }
}

.question-content {
  min-height: 96pt;
  padding: 10pt;
  font-size: 10pt;
}
