@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  .icon-child-size {
    > {
      @apply w-6 h-6;
    }
  }

  .flow-direction-rtl {
    direction: rtl;
  }

  .scroll-hide {
    scrollbar-width: none;
  }
  .scroll-hide::-webkit-scrollbar {
    display: none;
  }

  @media all and (display-mode: fullscreen) {
      .float-margin-b {
      @apply mb-8;
    }
  }

  :root {
    font-size: 11pt;
  }
}

.auto-theme {
  --black: #2b2d3a;
  --gray: #8a8ea8;
  --red: #fb617e;
  --yellow: #edc763;
  --green: #9ed06c;
  --blue: #6dcae8;
  --purple: #bb97ee;
  --orange: #f89860;
  --white: #f0f1f4;

  --bg-base: var(--black);
  --bg-active: #21222C;
  --bg-hover: #414458;
  --bg-1: #363949;
  --bg-2: #4C5067;
  --bg-3: #575B75;

  --activity-min: var(--bg-2);

  --text-base: var(--white);
  --text-active: #E2E4E9;
  --text-hover: #D3D6DF;
  --text-dim-1: #8488A4;
  --text-dim-2: #6D7292;
  --text-dim-3: #575B75;
}


html,
body,
#root {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: var(--bg-base);
  color: var(--text-base);

  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media (prefers-color-scheme: light) {
}
